{% extends "base.html" %}
{% load static %}
{% block content %}

<div class = "container">
    <br><br>

    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p id='message'>There Was An Error With Your Form...</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    

    {% endif %}
<h1> Register </h1>
<br>
<form action ="{% url 'register_user' %}" method=POST>
    {% csrf_token %}

    {{ form.as_p }}
<br>
    <input type="submit" value="submit" class="btn btn-primary">
</form>

</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/677e8eaeaf5bfec1dbe877fd/1ih35qn3e';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

{% endblock  %}