{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.senwin_title }} {% endblock %}
{% block content%}

    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h2 class="display-3 text-white mb-3">{{ object.senwin_title }}</h2>
        <div class="d-inline-flex text-white">
        </div>
    </div>
    <!-- Page Header Start -->

    
    <!-- Blog Start -->
     
    <div class="container-fluid py-6 px-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <img class="img-fluid w-100 rounded mb-5" src="{{ object.senwin_image.url }}"style="border-radius: 5px;" alt="">
                    <h1 class="mb-4"style="color: #055160;">{{ object.senwin_title }}</h1>
                    <p>{{ object.senwin_description }}.</p>
                    
                </div>
                <div class="btn-wrapper">
                    <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 5px;font-family:emoji;"> Back </a>
                </div><br>
                <!-- Blog Detail End -->

                <!-- Comment Form Start -->
                <div class="bg-light p-5">
                    <h3 class="mb-4"style="color: #055160;">Leave a comment</h3>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-white border-0" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-white border-0" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-white border-0" placeholder="Website" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Comment Form End -->
            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
             

               

                <!-- Recent Post Start -->
                <div class="mb-5">
                    <h3 class="mb-4"style="color: #055160;">Recent Post</h3>
                    <div class="bg-light p-4">
                        {% for sub_category in sub_categorys %}
                        <div class="d-flex mb-3">
                             <a href="{% url 'sub_detail' pk=sub_category.pk %}">
                            <img class="img-fluid" src="{{ sub_category.category_image.url }}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                             </a>
                            <a href="{% url 'sub_detail' pk=sub_category.pk %}" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">{{ sub_category.category_title|truncatechars:30 }}</a>
                        </div>  
                        {% endfor %}    
                    </div>
                </div>
                <!-- Recent Post End -->

                 <!-- Category Start -->
                 <div class="mb-5">
                    <h3 class=" mb-4"style="color: #055160;">Categories</h3>
                    <div class="d-flex flex-column justify-content-start bg-light p-4">
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Web Development</a>
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>CyberSecurity</a>
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Blockchain</a>
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Data Analysis</a>
                    </div>
                </div>
                <!-- Category End -->
            
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->

{% endblock %}