{% extends "base.html" %}
{% load static %}
{% block title %} Contact Senwin {% endblock %}
{% block content%}


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h2 class="display-3 text-white mb-3">Contact on Whatsapp or Email </h2>
        <div class="d-inline-flex text-white">
        </div>
    </div><br><br>
    <!-- Page Header Start -->


    <div class="boxed boxedp4">
        <div class="row contactv2 text-center">
            <div class="col-md-4">
                <div class="small-box">
                  
                    <a href="https://wa.me/+2347016087680?text=Hi SenwinTech?"target="_blank">
                    <i style="color: #055160;font-size: 50px;" class="fab fa-whatsapp"></i></a>
                    <h4 style="font-family: Georgia;">Whatsapp Me </h4>
                    <h5> <a style="font-weight:400;"href="https://wa.me/+2347016087680?text=Hi SenwinTech?"target="_blank">+234 701 608 7680</a></h5>
                
                </div><!-- end small-box -->
            </div><!-- end col -->
        
            <div class="col-md-4"id="bb">
                <div class="small-box">
                    <a href="mailto:godwinsenwin@gmail.com"target="_blank">
                    <i style="color: #055160;font-size: 50px;"class="fas fa-envelope"></i></a>
                    <h4 style="font-family: Georgia;">Send Us an Email</h4>
                    <p><a style="font-weight:400;" href="mailto:godwinsenwin@gmail.com"target="_blank">godwinsenwin@gmail.com</a></p>
 
                </div><!-- end small-box -->
            </div><!-- end col -->

            <div class="col-md-4"id="bc">
                <div class="small-box">
                     <a href="https://maps.app.goo.gl/ew5ojhE2ybDWQYzC9"target="_blank">
                    <i style="color: #055160;font-size: 50px;" class="fas fa-map-marker-alt"></i>      
                    <h4 style="font-family: Georgia;">Visit Senwin</h4>
                    <a href="https://maps.app.goo.gl/SLc89ZrSLBQxiMGG7"target="_blank">
                    <label>12, Karimu Street Lagos</span></a>
                    <a style="font-weight:100;"href="https://maps.app.goo.gl/ew5ojhE2ybDWQYzC9"target="_blank"><p >View on Google Map</p></a>  
                </div><!-- end small-box -->
            </div><!-- end col -->   

        </div><!-- end contactv2 -->
    </div>

    
 

    <!-- Contact End -->


    
{% endblock %}