{% extends "base.html" %}
{% load static %}
{% block content%}

 <!-- Carousel Start -->
    <video autoplay muted playsinline loop width="100%" height="400"controls id="myVideo">
        <source src="{% static 'video/nnn.mp4' %}" type="video/mp4">
        <source src="{% static 'video/nnn.mp4' %}" type="video/webm">
        Your browser does not support the video tag.
    </video><br>
<!-- Carousel End -->

<!-- About Start -->
<div class="container py-5">

    <div class="row align-items-center g-5">

        <!-- Text Content -->
        <div class="col-lg-6">
            <h2 class="fw-bold mb-4" style="color: #055160;">
                Stay ahead of the curve with expert insights & tech trends
            </h2>

            <p class="text-primary">
                Senwin takes center stage in the tech industry, offering creative media campaigns,
                exciting tech events, and bespoke innovation programs.
            </p>

            <!-- Features -->
            <div class="row mt-4">
                <div class="col-sm-6">
                    <p class="fw-semibold">
                        <i class="fa fa-check text-primary me-2"></i> Innovation & Progress
                    </p>
                    <p class="fw-semibold">
                        <i class="fa fa-check text-primary me-2"></i> Expert Insights
                    </p>
                    <p class="fw-semibold">
                        <i class="fa fa-check text-primary me-2"></i> Practical Solutions
                    </p>
                </div>
            </div>

            <p class="text-primary mt-3">
                At the intersection of efficiency and innovation, Senmi Logistics delivers reliable and smart logistics solutions.
                From transportation and supply chain management to last-mile delivery —
                we power the movement of goods with speed, precision, and trust.
            </p>

            <a href="#" class="btn btn-primary rounded-pill px-4 mt-3">
                Learn More
            </a>
        </div>

        <!-- Image -->
        <div class="col-lg-6">
            <div class="about-img-wrapper position-relative">
                <img src="{% static 'img/senwin.jpg' %}" 
                     class="img-fluid rounded-4 shadow"
                     style="height: 550px; width: 100%; border-radius: 5px;" alt="About Image">
            </div>
        </div>

    </div>

</div>
<!-- About End -->
     
    
    <!-- Portfolio Start -->
    <div class="container-fluid bg-light py-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h2 class="display-4 mb-4"style="color: #055160;">My projects</h2>
        </div>
        <div class="row gx-5">
            <div class="col-12 text-center">
                {% for senwin_sencond_home_page in senwin_sencond_home_pages %}
                <div class="d-inline-block bg-dark-radial text-center pt-4 px-5 mb-5">
                    <a href="{% url 'second_detail' senwin_sencond_home_page.pk %}">
                    <ul class="list-inline mb-0" id="portfolio-flters">
                        <li class="btn btn-outline-primary bg-white p-2 active mx-2 mb-4" data-filter="*">
                            <img src="{{ senwin_sencond_home_page.senwin_project_image.url }}" style="width: 150px; height: 100px;">
                            <div class="position-absolute top-0 start-0 end-0 bottom-0 m-2 d-flex align-items-center justify-content-center" style="background: rgba(4, 15, 40, .3);">
                                <h6 class="text-white m-0">{{ senwin_sencond_home_page.senwin_project_title }}</h6>
                            </div>
                        </li>
                    </ul>
                </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="row g-5 portfolio-container">
            {% for senwin_sencond_home_page in senwin_sencond_home_pages %}
            <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item first">
                <div class="position-relative portfolio-box">
                    <a href="{% url 'second_detail' senwin_sencond_home_page.pk %}">
                    <img class="img-fluid w-100" src="{{ senwin_sencond_home_page.senwin_project_image.url }}" alt="">
                    </a>
                    <a class="portfolio-title shadow-sm" href="{% url 'second_detail' senwin_sencond_home_page.pk %}">
                        <p class="h4"style="color: #055160;">{{ senwin_sencond_home_page.senwin_project_title }}</p>
                        <span class="text-body"></i>{{ senwin_sencond_home_page.senwin_project_description |truncatechars:20 }}</span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Portfolio End -->

    <!-- Services Start -->
    <div class="container py-5">
    
    <!-- Section Title -->
    <div class="text-center mb-5">
        <h2 class="fw-bold"style="color: #055160;">We provide the best technology services</h2>
        <p class="text-muted">Explore our latest solutions and innovations</p>
    </div>

    <!-- Services Grid -->
    <div class="row g-4 ">
        {% for post in object_list %}
        <div class="col-lg-4 col-md-6">
            
            <div class="card h-100 shadow-sm border-0 service-card">
                
                <!-- Image -->
                <a href="{% url 'detail' post.pk %}">
                    <img src="{{ post.senwin_image.url }}" 
                         class="card-img-top"
                         style="height: 220px; object-fit: cover;"
                         alt="">
                </a>

                <!-- Content -->
                <div class="card-body text-center">
                    <a href="{% url 'detail' post.pk %}" class="text-decoration-none">
                        <h5 class="card-title fw-semibold"style="color: #055160;">
                            {{ post.senwin_title }}
                        </h5>
                    </a>

                    <p class="card-text text-primary">
                        {{ post.senwin_description|truncatechars:80 }}
                    </p>
                </div>

                <!-- Button -->
                <div class="card-footer bg-white border-0 text-center pb-4">
                    <a href="{% url 'detail' post.pk %}" 
                       class="btn btn-primary px-4 rounded-pill">
                        Read More
                    </a>
                </div>

            </div>

        </div>
        {% endfor %}
    </div>
</div>
    
    <!-- Testimonial Start -->
    <div class="container-fluid bg-light py-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h3 class="display-4 mb-4"style="color: #055160;">Feed back from cleints</h3>
        </div>
        <div class="row gx-0 align-items-center">
            <div class="col-xl-4 col-lg-5 d-none d-lg-block">
                <img class="img-fluid w-100 h-100" src="{% static 'img/testimonial.jpg' %}" style="border-radius: 5px;">
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12">
                <div class="testimonial bg-light">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="row gx-4 align-items-center">
                            <div class="col-xl-4 col-lg-5 col-md-5">
                                <img class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0" src="{% static 'img/testimonial-1.jpg' %}" alt="">
                            </div>
                            <div class="col-xl-8 col-lg-7 col-md-7">
                                <h4 class="mb-0"style="color: #055160; font-family: emoji;">Solomon</h4>
                                <p>Bootcamp Owner</p>
                                <p class="fs-5 mb-0"><i class="fa fa-2x fa-quote-left text-primary me-2"></i>
                                    I am incredibly grateful for the amazing support and expertise 
                                    Senwin provided in creating my website. From start to finish, they were not only 
                                    highly professional but also attentive to every detail of my vision.
                                </p>
                            </div>
                        </div>
                        <div class="row gx-4 align-items-center">
                            <div class="col-xl-4 col-lg-5 col-md-5">
                                <img class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0" src="{% static 'img/testimonial-2.jpg' %}" alt="">
                            </div>
                            <div class="col-xl-8 col-lg-7 col-md-7">
                                <h4 class="mb-0"style="color: #055160; font-family: emoji;">Eden</h4>
                                <p>Social WebCamp</p>
                                <p class="fs-5 mb-0"><i class="fa fa-2x fa-quote-left text-primary me-2"></i> 
                                    I can't thank Senwin enough for the incredible work they did in building my website. 
                                    From our initial discussions to the final launch, their professionalism and dedication 
                                    to quality were evident every step of the way.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <!-- Testimonial End -->

    <!-- Blog Start -->
    <div class="container-fluid py-8 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h3 class="display-4 mb-4"style="color: #055160;">Latest post</h3>
        </div>
        <div class="row g-5">
            {% for senwin_latest_page in senwin_latest_pages %}
            <div class="col-lg-4 col-md-6">
                <div class="bg-light">
                    <a href="{% url 'third_detail' senwin_latest_page.pk %}">
                    <img class="img-fluid" src="{{ senwin_latest_page.latest_post_image.url }}"style="width: 360px; height: 300px;border-radius: 5px;" alt="">
                    <div class="p-4">
                        <h5 class="mb-3"style="color: #055160; font-family: emoji;">{{ senwin_latest_page.latest_post_title }}</h5>
                    </a>
                        <p>{{ senwin_latest_page.latest_post_description|truncatechars:70}}</p>
                        <a class="btn btn-primary"style="color:white;" href="{% url 'third_detail' senwin_latest_page.pk %}">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div><br><br>
    <!-- Blog End -->


{% endblock %}