/********** Template CSS **********/
:root {
    --primary: #055160;
    --secondary: #055160;
    --light: #F4F6F8;
    --dark: #040F28;
}

body {
    margin: 0;
    padding: 0;
    font-family:Georgia;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

element.style {
    color: #055160;
    font-family:'Trebuchet MS';
}

.btn-primary {
    color: #000;
    background-color: #055160;
    border-color: #040f28;
}

.btn-check:checked+.btn-primary, .btn-check:active+.btn-primary, .btn-primary:active, .btn-primary.active, .show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #055160;
    border-color: #055160;
}

.btn-primary:hover {
    color: #055160;
    background-color: #000;
    border-color: #000;
}

a {
    color: #055160;
    text-decoration: none;
}

.text-white-50 {
    color: #aaa !important;
}

.display-4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

a:hover {
    color: #055160;
}

.bg-primary {
    background-color: #055160 !important;
}
.text-white {
    color: #FFFFFF !important;
    font-family: Georgia;
}
.text-primary {
    color: #040F28 !important;
}

.display-5,h3{
    font-size: calc(1.425rem);
    font-weight: 700;
    line-height: 1.2;
    font-family:Georgia;
    
}


h1, .h1, h2, .h2, .h3, h3,h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 2px;
    margin-bottom: .5rem;
    font-family: Georgia;
    font-weight: 200;
    line-height: 1.2;
    color: #040F28;
}

.display-2 {
    font-size: calc(1.575rem + 3.9vw);
    font-weight: 500;
    line-height: 1.2;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #055160;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius:4px;
    border-color: #055160;
    
}

.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn {
    position: relative;
    font-weight: 600;
    transition: .5s;
}

.btn::after {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: .5s;
}

.btn.btn-primary::after {
    background: var(--dark);
}

.btn:hover::after,
.btn.active::after {
    width: 50%;
    left: 25%;
}


video {
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    left: 50%;
    bottom: 0;
    margin-left: -22px;
    border-radius: 0;
    z-index: 99;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 500;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color:#055160;
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    padding: 25px 10px;
    font-size: 18px;
    color: var(--light);
    outline: none;
    transition: .5s;
    font-family:Georgia;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color:#055160;
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 15, 40, .7);
    z-index: 1;
}



@media (max-width: 576px) {
    .carousel-caption h4 {
        font-size: 18px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.display-3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    font-family: Georgia;
    text-transform:none;
}
.text-uppercase {
    text-transform:none; 
}

.page-header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4, 15, 40, .7), rgba(4, 15, 40, .7)), url(../img/sss.png) center center no-repeat;
    background-size: cover;
}

.service-item .service-icon {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.service-item .service-icon i {
    transition: .2s;
}

.service-item:hover .service-icon i {
    font-size: 60px;
}

.portfolio-item {
    margin-bottom: 60px;
}

.portfolio-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    padding: 0 30px;
    right: 30px;
    left: 30px;
    bottom: -60px;
    background: #FFFFFF;
    z-index: 3;
}

.portfolio-btn {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    font-size: 120px;
    line-height: 0;
    transition: .1s;
    transition-delay: .3s;
    z-index: 2;
    opacity: 0;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
}

.portfolio-box::before,
.portfolio-box::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    transition: .5s;
    z-index: 1;
    background: rgba(4, 15, 40, .7);
}

.portfolio-box::before {
    left: 0;
}

.portfolio-box::after {
    right: 0;
}

.portfolio-item:hover .portfolio-box::before {
    left: 0;
    width: 50%;
}

.portfolio-item:hover .portfolio-box::after {
    right: 0;
    width: 50%;
}

@media (min-width: 992px) {
    .testimonial,
    .contact-form {
        margin-left: -90px;
    }
}

@media (min-width: 992px) {
    .footer::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        background: var(--primary)
    }
}

.footer-shape::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 100%;
    top: 0;
    left: -40px;
    background: var(--primary);
    transform: skew(40deg);
}